
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  display: flex;
  width: 100vw;
  height: 100vh;

  background-color: #4d018a;
}

.container {
  width: 50%;
  height: 100%;

  background-color: #4d018a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.pic {
  width: 50%;
  height: 100%;
  overflow: hidden;
  background-image: url("../assets/R.jfif");
  background-size: cover;
  background-position: center;
}


.inp {
  width: 350px;
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

label {
  position: absolute;
  left: 20px;
  color: #777780;
  height: 20px;
  transform: translateY(2.5px);
  padding-left: 5px;
  cursor: text;
  padding-right: 5px;
  transition: .2s;
  font-family: Arial, Helvetica, sans-serif;
}


input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  outline: none;
  transition: .4s;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
}

input:focus {
  border: 2px solid #1f1fff;
  box-shadow: #6767ff 0px 1px 1px, #6767ff 0px 0px 0px 1px;
}

input:focus + label {
  left: 20px;
  transform: translateY(-22px);
  font-size: 12px;
  background-color: #4d018a;
}

.up {
  left: 20px;
  transform: translateY(-22px);
  font-size: 12px;
  background-color: #4d018a;
}

button {
  width: 350px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  background-color: #2020db;
  border: 2px solid #1f1fff;
  border-radius: 50px;
  outline: none;
  transition: .4s;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Figtree', sans-serif;
}

button:hover {
  background-color: #1717c2;
  border: 2px solid #1717c2;
}

h1 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-family: 'Figtree', sans-serif;
  color: #fff;
  margin-bottom: 20px;
}

a {
  color: #bbbbbb;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Figtree', sans-serif;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100px;
  border-radius: 10px;
  border: 1px solid white;
}

@media only screen and (max-width: 750px) {
  .pic {
    display: none;
  }

  .container {
      width: 100%;
  }
}

@media only screen and (max-height: 450px) {
  .pic {
    display: none;
  }

  .container {
      width: 100%;
  }

  body {
      padding-bottom: 10px;
      overflow: scroll;
      height: 100%;
  }
}
